button {
  background-color: var(--primary-color);
  border: none;
  color: var(--text-color-white);
  border-radius: 2px;
  padding: 4px 0 4px 0;
}

button#whiteBtn {
  border: 2px solid var(--text-color-dark-blue);
  background-color: var(--background-color-max-transperacy);
  color: var(--btn-border-color);
  margin-left: 30.02px;
}

button.large {
  width: 189px;
  height: 36px;
  font-size: 12px;
  line-height: 26px;
}

button.small {
  width: 160px;
  height: 26px;
  font-size: 12px;
  line-height: 18px;
}

button.medium {
  width: 150px;
  height: 32px;
  font-size: 14px;
  line-height: 24px;
}

.pricing button.medium {
  width: 189px;
}