:root {
  --primary-color: #111b47;
  --main-background-color: #f0f0f0;
  --accent-color: #505f98;
  --text-color-dark-blue: #091133;
  --text-color-white: #ffffff;
  --btn-border-color: #091133;
  --background-color-max-transperacy: #ffffff00;
}
