/* hero */

.hero {
  position: relative;
  background-image: url("/assets/main-picture.svg");
  background-repeat: no-repeat;
  /* background-size: 1072.74px 1161px; */
  background-size: 1490.03px 1161px;
  /*  background-size: 1444px 1025px; */
  background-position: 421.29px -49px;
  /* overflow: hidden; */

  border: solid 2px black;
  /* width: 1440px;
  height: 1161px; */
  width: 1444px;
  /* height: 1025px; */
  height: 1161px;
  /* overflow: hidden; */
}

.rectangle {
  position: relative;
  width: 1440px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: #37447e;
  position: absolute;
  top: 12px;
  left: 50%;
  font-size: 26px;
}

/* nav-bar */

.nav-bar {
  width: 1110px;
  height: 26px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 705px;
}

.nav-bar .nav-group {
  width: 245px;
  height: 24px;

  display: flex;
  gap: 60px;
  color: #505f98;
}

.nav-bar .nav-group a {
  color: #505f98;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
}

/* text areas */

.text-block {
  border: solid 2px rgb(85, 1, 29);
}

.title-txt {
  margin: 0;
  font-size: 36px;
  line-height: 48px;
  color: var(--text-color-dark-blue);
}

.body-txt {
  font-size: 16px;
  line-height: 24px;
  color: var(--paragraph-color);
}

/* split-section */

.split-section {
  height: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.split {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left .hero-content {
  margin-left: 100px;
  width: 539.37px;
  height: 316px;
}

.left .hero-content .title-txt {
  font-size: 50px;
  line-height: 66px;
  margin-bottom: 20px;
}

.left .hero-content .body-txt {
  font-size: 18px;
  line-height: 30px;
  color: #505f98;
  margin-bottom: 69px;
  margin-top: 0;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* undraw_mobile_login_ikmv */

.undraw_mobile_login_ikmv {
  border: solid 2px rgb(85, 1, 29);

  width: 1444px;
  height: 742px;
  /* overflow: hidden; */
}

.undraw_mobile_login_ikmv .right {
  background-image: url("/assets/mobile-login.svg");
  background-repeat: no-repeat;
  background-size: 540px 524.31px;
  right: 165px;
  top: 109.65px;
}

.undraw_mobile_login_ikmv .text-block {
  width: 540px;
  height: 204px;
}

.undraw_mobile_login_ikmv .text-block .body-txt {
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

/* section cards */

.cards {
  display: flex;
  gap: 30px;
}

.card-element {
  border: solid 2px rgb(85, 1, 29);

  margin-top: 80px;
  width: 255px;
  height: 138px;
}

.card-element .title-txt {
  margin-top: 14px;
  font-size: 16px;
  line-height: 26px;
}

.card-element .body-txt {
  font-size: 12px;
  line-height: 18px;
  color: #5d6970;
  margin-top: 6px;
}

/* section intro */

.intro {
  border: solid 2px rgb(85, 1, 29);

  width: 1444px;
  height: 742px;
  /* overflow: hidden; */
}

.intro .left {
  background-image: url("/assets/undraw_happy_news_hxmt.svg");
  background-position: 191px center;
  background-repeat: no-repeat;
  background-size: 480px 315.85px;
}

.intro .right .text-block {
  width: 445px;
  height: 228px;
}

.intro .right .text-block .body-txt {
  line-height: 24px;
  margin-top: 16px;
}
