/* hero */

.hero {
  position: relative;
  background-image: url("/assets/main-picture.svg");
  background-repeat: no-repeat;
  background-size: 1490.03px 1161px;
  background-position: 421.29px -49px;
  width: 1444px;
  height: 1161px;
}

.rectangle {
  position: relative;
  width: 1440px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: var(--landie-color);
  position: absolute;
  top: 12px;
  font-size: 26px;
}

/* nav-bar */

.nav-bar {
  width: 1110px;
  height: 26px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 705px;
}

.nav-bar .nav-group {
  width: 245px;
  height: 24px;

  display: flex;
  gap: 60px;
}

.hero .nav-bar .nav-group a {
  color: var(--n1-nav-bar-text-color);
}

/* text areas */

.title-txt {
  margin: 0;
  font-size: 36px;
  line-height: 48px;
  color: var(--title-color);
}

.body-txt {
  font-size: 16px;
  line-height: 24px;
  color: var(--n2-paragraph-color);
}

/* split-section */

.split-section {
  height: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.split {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 165px;
}

.left .hero-content {
  top: 150px;
  width: 539.37px;
  height: 316px;
}

.left .hero-content .title-txt {
  font-size: 50px;
  line-height: 66px;
  margin-bottom: 20px;
}

.left .hero-content .body-txt {
  font-size: 18px;
  line-height: 30px;
  color: var(--n2-paragraph-color);
  margin-bottom: 69px;
  margin-top: 0;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 165px;
}

/* undraw_mobile_login_ikmv */

.undraw_mobile_login_ikmv {
  width: 1440px;
  height: 742px;
}

.undraw_mobile_login_ikmv .right {
  background-image: url("/assets/mobile-login.svg");
  background-repeat: no-repeat;
  background-size: 540px 524.31px;
  background-position: center;
}

.undraw_mobile_login_ikmv .text-block {
  width: 540px;
  height: 204px;
}

.undraw_mobile_login_ikmv .text-block .body-txt {
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

/* section cards */

.cards {
  display: flex;
  gap: 30px;
}

.card-element {
  margin-top: 80px;
  width: 255px;
  height: 138px;
}

.card-element .title-txt {
  margin-top: 14px;
  font-size: 16px;
  line-height: 26px;
}

.card-element .body-txt {
  font-size: 12px;
  line-height: 18px;
  color: var(--n2-paragraph-color);
  margin-top: 6px;
}

/* section intro */

.intro {
  width: 1440px;
  height: 569px;
}

.intro .left {
  background-image: url("/assets/undraw_happy_news_hxmt.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 480px 315.85px;
}

.intro .right .text-block {
  width: 445px;
  height: 228px;
}

.intro .right .text-block .body-txt {
  line-height: 24px;
  margin-top: 16px;
}

/* section intro-copy */

.intro-copy {
  width: 1440px;
  height: 569px;
}

.intro-copy .left {
  background-image: url("/assets/undraw_social_influencer_sgsv.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 480px 315.85px;
}

.intro-copy .right .text-block {
  width: 445px;
  height: 228px;
}

.intro-copy .right .text-block .body-txt {
  line-height: 24px;
  margin-top: 16px;
}

/* section cta */

.cta {
  width: 1440px;
  height: 546px;
}

.cta .left {
  background-image: url("/assets/undraw_mention_6k5d.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 480px 315.85px;
}

.cta .right .text-block {
  width: 445px;
  height: 228px;
}

.cta .right .text-block .body-txt {
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 40px;
}

/* section pricing */

.pricing {
  background-image: url("/assets/rectangle.svg");
  background-repeat: no-repeat;
  background-size: 2546.93px 938px;
  background-position: -620.29px;
  /* 620.29px */

  width: 1440px; /* 2546.93px */
  height: 938px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pricing .text-block {
  width: 600px;
  height: 116.31px;
  display: grid;
  place-items: center;
  text-align: center;
  /* margin-top: 237.61px; */
}

.pricing .text-block .body-txt {
  line-height: 26px;
  margin-top: 16px;
  margin-bottom: 40px;
}

.pricing .price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 66px;
  font-size: 50px;
  line-height: 66px;
  color: var(--price-color);
  margin-top: 35.82px;
}

.pricing .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 26px;
  font-size: 16px;
  line-height: 26px;
  color: var(--title-color);
}

.pricing .body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  color: var(--card-paragraph-color);
  margin-top: 60px;
  margin-bottom: 9.03px;
}

footer .rectangle {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 38px;
  top: 61px;
  gap: 868px;
}

footer .rectangle .logo {
  top: 4px;
}

footer .c-text {
  font-size: 14px;
  line-height: 24px;
  color: #939ea4;
}

footer .line {
  position: absolute;
  width: 1110px;
  height: 1px;
  top: 139px;
  left: 165px;
  background-color: var(--footer-line-background-color);
  background-position: center;
}

footer nav {
  margin-top: 135px;
  margin-bottom: 32px;
}

footer nav a {
  color: var(--n2-nav-bar-text-color);
}

.social-icons {
  display: flex;
  gap: 30px;
  margin-left: -165px;
}

.icon-instagram {
  width: 16px;
  height: 16px;
  background: url(/assets/Instagram.svg);
}

.icon-youtube {
  width: 16px;
  height: 16px;
  background: url(/assets/Instagram\ Copy.svg);
}

.icon-twitter {
  width: 16px;
  height: 16px;
  background: url(/assets/Instagram\ Copy\ 2.svg);
}

.icon-linkedin {
  width: 16px;
  height: 16px;
  background: url(/assets/Instagram\ Copy\ 3.svg);
}

.icon-facebook {
  width: 16px;
  height: 16px;
  background: url(/assets/Instagram\ Copy\ 4.svg);
}
