html,
body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: var(--main-background-color);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 4628px;
  font-family: "Roboto", sans-serif;
}

footer {
  position: relative;
  top: -133.39px;
  width: 1440px;
  height: 216px;
  background-color: var(--footer-background-color);

  border-left: var(--bordr-left);
  border-right: var(--border-right);
}

a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
}