html,
body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  width: 1440px;
  height: 4628px;
  font-family: "Roboto", sans-serif;
}

.hero {
  position: relative;
  background-image: url("/assets/main-picture.svg");
  background-repeat: no-repeat;
  /* background-size: 1072.74px 1161px; */
  background-size: 1490.03px 1161px;
  /*  background-size: 1444px 1025px; */
  background-position: 421.29px -49px;
  overflow: hidden;

  border: solid 2px black;
  /* width: 1440px;
  height: 1161px; */
  width: 1444px;
  height: 1025px;
  overflow: hidden;
}

#rectangle {
  position: relative;
  width: 1440px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: #37447e;
  position: absolute;
  top: 12px;
  left: 50%;
  font-size: 26px;
}

.nav-bar {
  width: 1110px;
  height: 26px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 705px;
}

.nav-bar .group {
  width: 245px;
  height: 24px;

  display: flex;
  gap: 60px;
  color: #505f98;
}

.nav-bar .group a {
  color: #505f98;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
}

button {
  /* border: 2px solid #091133; */
  background-color: #111b47;
  border: none;
  color: #ffffff;
  border-radius: 2px;
}

#whiteBtn {
  border: 2px solid #091133;
  background-color: #ffffff00;
  color: #091133;
  margin-left: 30.02px;
}

button.large {
  width: 189px;
  height: 36px;
  font-size: 12px;
  line-height: 26px;
}

button.small {
  width: 160px;
  height: 26px;
  font-size: 12px;
  line-height: 18px;
}

.split-section {
  height: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.split {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left .hero-content {
  margin-left: 100px;
  width: 539.37px;
  height: 316px;
}

.left .hero-content .title-txt {
  font-size: 50px;
  line-height: 66px;
  color: #091133;
  margin-bottom: 20px;
}

.left .hero-content .body-txt {
  font-size: 18px;
  line-height: 30px;
  color: #505f98;
  margin-bottom: 69px;
  margin-top: 0;
}

.undraw_mobile_login_ikmv {
  position: relative;
  background-repeat: no-repeat;

  border: solid 2px rgb(85, 1, 29);

  width: 1444px;
  height: 742px;
  overflow: hidden;
}
