html,
body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  width: 1440px;
  height: 4628px;
  font-family: "Roboto", sans-serif;
}

.hero {
  border: solid 2px black;
  width: 1911.32px;
  height: 1161px;
}

#rectangle {
  position: relative;
  /* width: 1440px; */
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: #37447E;
  position: absolute;
  top: 12px;
  left: 50%;
  font-size: 26px;
  font-weight: 900;
  font-style: normal;
}

.nav-bar {
  width: 1110px;
  height: 26px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 705px;
}

.nav-bar .group {
  width: 245px;
  height: 24px;

  display: flex;
  gap: 60px;
  color: #505f98;
}

.nav-bar .group a {
  color: #505f98;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

.nav-bar button {
  width: 160px;
  height: 26px;
  background-color: #111b47;
  border: none;
  color: #ffffff;
  border-radius: 2px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-style: normal;
}
